@model IEnumerable<Consultorio.Entity.Medicamento>

<div class="container">
    <div class="col-md-12">
        <button class="btn btn-success" id="openModal">Nuevo Medicamento</button>
    </div>
    @if (ViewData["mensaje"] != null)
    {
        <div class="form-group mt-3">
            <div class="alert alert-danger text-center" role="alert">
                @ViewData["mensaje"]
            </div>
        </div>
    }
    <div class="col-md-12 mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Nombre</td>
                    <td>Categoría</td>
                    <td>Descripción</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var medicamento in Model)
                    {
                        <tr>
                            <td>@medicamento.Nombre</td>
                            <td>@medicamento.Categoria</td>
                            <td>@medicamento.Descripcion</td>
                            <td>
                                <a class="btn btn-success" onclick='obtenerMedicamento(@medicamento.IdMedicamento)'>Editar</a>
                                <a class="btn btn-danger" onclick='eliminarMedicamento(@medicamento.IdMedicamento)'>Eliminar</a>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4">
                            <div class="alert alert-info text-center">
                                <p>No hay medicamentos registrados</p>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>    
</div>

<div class="modal fade" id="modalEditarCrear" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="tituloModal"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="GuardarMedicamento">
                <div class="modal-body">
                    <div class="mb-3" hidden>
                        <input type="text" class="form-control" name="IdMedicamento" id="idMedicamento" value="0">
                    </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" name="Nombre" id="nombre">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label">Categoría:</label>
                            <input type="text" class="form-control" name="Categoria" id="categoria">
                        </div>
                        <div class="mb-3">
                            <label for="message-text" class="col-form-label">Descripción:</label>
                            <textarea class="form-control" name="Descripcion" id="descripcion"></textarea>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        function limpiarModal() {
            $("#tituloModal").text("Nuevo Medicamento");
            $("#idMedicamento").val(0);
            $("#nombre").val("");
            $("#categoria").val("");
            $("#descripcion").val("");
        }
        function obtenerMedicamento(idMedicamento) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("ObtenerMedicamento")', // URL del servidor que proporciona los datos
                data: { id: idMedicamento }, // Parámetro que deseas pasar al servidor
                dataType: "json", // Tipo de datos esperados en la respuesta
                success: function (data) {
                    $("#tituloModal").text("Editar Medicamento");
                    $("#idMedicamento").val(data.idMedicamento);
                    $("#nombre").val(data.nombre);
                    $("#categoria").val(data.categoria);
                    $("#descripcion").val(data.descripcion);
                    $("#modalEditarCrear").modal('show');
                },
                error: function (xhr, status, error) {
                    // Manejar errores de la solicitud AJAX
                    console.error("Error al cargar los datos:", status, error);
                }
            });
        }
        function eliminarMedicamento(idMedicamento){
            Swal.fire({
                title: "¿Estas seguro?",
                text: "Usted no podrá revertir este cambio",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                cancelButtonText: "Cancelar",
                confirmButtonText: "Si, eliminar"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("EliminarMedicamento")', // URL del servidor que proporciona los datos
                        data: { id: idMedicamento }, // Parámetro que deseas pasar al servidor
                        success: function (result) {
                            if (result) {
                                location.reload();
                            }
                            else {
                                console.log("Ocurrió un error");
                            }
                        },
                        error: function (xhr, status, error) {
                            // Manejar errores de la solicitud AJAX
                            console.error("Error al cargar los datos:", status, error);
                        }
                    });                    
                }
            });
            
        }

        $(document).ready(function () {
            $("#openModal").click(function () {
                limpiarModal();
                $("#modalEditarCrear").modal('show');
            });            
        })
    </script>
}
                        